.myButton {
    padding: 13px 25px;
    padding-right: 10px;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: lighter;
}

.myButton.primary {
    background: #3A51C5;
    color: #fff;
    border: none;
}

.myButton.secondary {
    background: #27305c;
    color: #fff;
    border: none;
}

.myButton.muted {
    background: #666B86;
    color: #fff;
    border: none;
    width: 200px;
    display: flex;
    justify-content: center;
}

.myButton.muted .buttonArrow {
    display: none;
}

.buttonArrow {
    opacity: 0;
    transition: all 0.2s ease;
    margin-left: 25px;
}

.myButton:hover .buttonArrow{
    opacity: 1;
}