.mainContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mainContainer img {
    height: 400px;
    margin-left: 100px;
    margin-bottom: 200px;
    animation: shadow 15s infinite ease;
}

@keyframes shadow {
    from {transform: rotate3d(1, 1, 0, 0);}
    20% {transform: rotate3d(1, 1, 0, 25deg);}
    40% {transform: rotate3d(1, -1, 0, -25deg);}
    60% {transform: rotate3d(-1, 1, 0, -25deg);}
    to {transform: rotate3d(1, 1, 0, 0);}
}